<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/colorWhite">
    <include
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        layout="@layout/toolbarviop" />
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="horizontal">
        <TextView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:textSize="@dimen/text_Size_L2"
            android:layout_marginLeft="@dimen/margin_Size_S1"
            android:layout_marginRight="@dimen/margin_Size_S1"
            android:layout_marginTop="@dimen/margin_Size_M1"
            android:layout_marginBottom="@dimen/margin_Size_M1"
            android:textStyle="bold"
            android:gravity="center"
            android:layout_gravity="center"
            android:text="VIOP Sozlesmeler" />
        <EditText
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginRight="@dimen/margin_Size_S1"
            android:hint="Search..."
            android:gravity="center"
            android:layout_gravity="center"
            android:textSize="@dimen/text_Size_M2"
            android:singleLine="true"
            android:imeOptions="actionDone"
            local:MvxBind="Text SearchText" />
    </LinearLayout>
    <View
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:background="@color/colorDivider" />
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="horizontal"
        android:paddingLeft="@dimen/margin_Size_S3"
        android:paddingRight="@dimen/margin_Size_S3"
        android:paddingTop="@dimen/margin_Size_S2"
        android:paddingBottom="@dimen/margin_Size_S2">
        <TextView
            android:layout_width="0dp"
            android:layout_weight="1"
            android:layout_height="wrap_content"
            android:textSize="@dimen/text_Size_S1"
            android:textColor="#006CFF"
            android:gravity="center"
            android:text="Sozlesme" />
        <TextView
            android:layout_width="0dp"
            android:layout_weight="1"
            android:layout_height="wrap_content"
            android:textSize="@dimen/text_Size_S1"
            android:textColor="#006CFF"
            android:gravity="center"
            android:text="Alis Fiyat / Derinlik" />
        <TextView
            android:layout_width="0dp"
            android:layout_weight="1"
            android:layout_height="wrap_content"
            android:textSize="@dimen/text_Size_S1"
            android:textColor="#006CFF"
            android:gravity="center"
            android:text="Satis Fiyat / Derinlik" />
    </LinearLayout>
    <View
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:background="@color/colorDivider" />
    <Mvx.MvxListView
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:dividerHeight="1dp"
        android:divider="@color/colorDivider"
        local:MvxItemTemplate="@layout/itemviop"
        local:MvxBind="ItemsSource VIOPsList" />
</LinearLayout>