<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/colorWhite">
    <include
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        layout="@layout/toolbarhisse" />
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:focusable="true"
        android:focusableInTouchMode="true" />
    <TextView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:gravity="center_horizontal"
        android:textSize="@dimen/text_Size_M2"
        android:textStyle="bold"
        android:text="Stock - Code" />
    <TextView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:gravity="center_horizontal"
        android:textSize="@dimen/text_Size_M3"
        android:layout_marginBottom="@dimen/margin_Size_S3"
        android:textStyle="bold"
        android:singleLine="true"
        android:ellipsize="end"
        local:MvxBind="Text Stock.Name" />
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="horizontal"
        android:weightSum="5"
        android:gravity="center">
        <LinearLayout
            android:layout_width="0dp"
            android:layout_weight="3"
            android:layout_height="wrap_content"
            android:orientation="vertical">
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="horizontal">
                <RelativeLayout
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_gravity="center">
                    <TextView
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:textSize="@dimen/text_Size_M3"
                        android:text="Amount: "
                        android:visibility="invisible" />
                    <TextView
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:textSize="@dimen/text_Size_M3"
                        android:text="Price: "
                        local:MvxBind="Enabled PriceEnabled" />
                </RelativeLayout>
                <MvxSpinner
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:spinnerMode="dialog"
                    android:background="@drawable/edit_text_default"
                    local:MvxBind="ItemsSource TickValues; SelectedItem TickValue; Enabled PriceEnabled"
                    local:MvxDropDownItemTemplate="@layout/itemtickvalue"
                    local:MvxItemTemplate="@layout/texttickvalue" />
            </LinearLayout>
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="horizontal">
                <TextView
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:textSize="@dimen/text_Size_M3"
                    android:text="Amount: "
                    android:layout_gravity="center" />
                <EditText
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:paddingLeft="@dimen/margin_Size_L1"
                    android:singleLine="true"
                    android:imeOptions="actionDone"
                    android:inputType="number"
                    android:textSize="@dimen/text_Size_M3"
                    local:MvxBind="Text Amount" />
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="horizontal"
        android:layout_marginTop="@dimen/margin_Size_S2"
        android:gravity="center_horizontal">
        <View
            android:layout_width="0dp"
            android:layout_weight="0.1"
            android:layout_height="0dp" />
        <RadioGroup
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:background="@drawable/bg_rounded"
            android:paddingTop="@dimen/margin_Size_S3"
            android:paddingBottom="@dimen/margin_Size_S3"
            android:orientation="vertical">
            <RadioButton
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/text_Size_M3"
                android:paddingRight="@dimen/margin_Size_M1"
                android:text="Limit"
                local:MvxBind="Checked LimitChecked" />
            <RadioButton
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/text_Size_M3"
                android:paddingRight="@dimen/margin_Size_M1"
                android:text="Piyasa"
                local:MvxBind="Checked PiyasaChecked" />
            <RadioButton
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/text_Size_M3"
                android:paddingRight="@dimen/margin_Size_M1"
                android:text="Piyasadan Limite"
                local:MvxBind="Checked PiyasadanLimiteChecked" />
            <RadioButton
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/text_Size_M3"
                android:paddingRight="@dimen/margin_Size_M1"
                android:text="Dengeleyici"
                local:MvxBind="Checked DengeleyiciChecked" />
        </RadioGroup>
        <View
            android:layout_width="0dp"
            android:layout_weight="0.1"
            android:layout_height="0dp" />
        <RadioGroup
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:background="@drawable/bg_rounded"
            android:paddingTop="@dimen/margin_Size_S3"
            android:paddingBottom="@dimen/margin_Size_S3"
            android:orientation="vertical">
            <RadioButton
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/text_Size_M3"
                android:paddingRight="@dimen/margin_Size_M1"
                android:text="Gunluk"
                local:MvxBind="Checked GunlukChecked; Enabled OrderMethodEnabled" />
            <RadioButton
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="@dimen/text_Size_M3"
                android:paddingRight="@dimen/margin_Size_M1"
                android:text="KIE"
                local:MvxBind="Checked KIEChecked; Enabled OrderMethodEnabled" />
        </RadioGroup>
        <View
            android:layout_width="0dp"
            android:layout_weight="0.1"
            android:layout_height="0dp" />
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="@dimen/margin_Size_S2"
        android:layout_marginBottom="@dimen/margin_Size_S3"
        android:layout_marginLeft="@dimen/margin_Size_M3"
        android:layout_marginRight="@dimen/margin_Size_M3">
        <LinearLayout
            android:layout_width="0dp"
            android:layout_weight="1"
            android:layout_height="wrap_content"
            android:background="@drawable/btn_default_blue"
            android:gravity="center_horizontal"
            android:clickable="true"
            android:layout_marginRight="@dimen/margin_Size_S2"
            android:orientation="vertical"
            local:MvxBind="Click BuyCommand">
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:textSize="@dimen/text_Size_M3"
                android:textColor="#fff"
                local:MvxBind="Text Stock.LastPrice" />
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Buy"
                android:textSize="@dimen/text_Size_M3"
                android:textColor="#fff" />
        </LinearLayout>
        <LinearLayout
            android:layout_width="0dp"
            android:layout_weight="1"
            android:layout_height="wrap_content"
            android:background="@drawable/btn_default_red"
            android:gravity="center_horizontal"
            android:clickable="true"
            android:layout_marginLeft="@dimen/margin_Size_S2"
            android:orientation="vertical"
            local:MvxBind="Click SellCommand">
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:textSize="@dimen/text_Size_M3"
                android:textColor="#fff"
                local:MvxBind="Text Stock.LastPrice" />
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Sell"
                android:textSize="@dimen/text_Size_M3"
                android:textColor="#fff" />
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="vertical">
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:layout_weight="1"
            android:orientation="vertical">
            <TabHost
                android:id="@android:id/tabhost"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_alignParentTop="true"
                android:layout_centerHorizontal="true">
                <LinearLayout
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:orientation="vertical">
                    <TabWidget
                        android:id="@android:id/tabs"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content" />
                    <FrameLayout
                        android:id="@android:id/tabcontent"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent">
                        <LinearLayout
                            android:layout_width="match_parent"
                            android:layout_height="match_parent"
                            android:orientation="vertical"
                            android:id="@+id/tab1">
                            <OxyPlot.Xamarin.Android.PlotView
                                android:id="@+id/plotview"
                                android:layout_width="match_parent"
                                android:layout_height="match_parent" />
                        </LinearLayout>
                        <LinearLayout
                            android:layout_width="match_parent"
                            android:layout_height="match_parent"
                            android:orientation="vertical"
                            android:id="@+id/tab2"
                            android:layout_margin="@dimen/margin_Size_M3">
                            <TextView
                                android:layout_width="match_parent"
                                android:layout_height="wrap_content"
                                android:text="Description"
                                android:textSize="@dimen/text_Size_M3"
                                android:textColor="#000"
                                android:textStyle="bold" />
                            <TextView
                                android:layout_width="match_parent"
                                android:layout_height="wrap_content"
                                android:textSize="@dimen/text_Size_M3"
                                local:MvxBind="Text Stock.Name" />
                            <LinearLayout
                                android:layout_width="match_parent"
                                android:layout_height="wrap_content"
                                android:layout_marginTop="@dimen/margin_Size_S1"
                                android:orientation="horizontal">
                                <LinearLayout
                                    android:layout_width="0dp"
                                    android:layout_weight="1"
                                    android:layout_height="wrap_content"
                                    android:orientation="vertical">
                                    <TextView
                                        android:layout_width="match_parent"
                                        android:layout_height="match_parent"
                                        android:text="Tick Size"
                                        android:textSize="@dimen/text_Size_M3"
                                        android:textColor="#000"
                                        android:textStyle="bold" />
                                    <TextView
                                        android:layout_width="match_parent"
                                        android:layout_height="match_parent"
                                        android:textSize="@dimen/text_Size_M3"
                                        local:MvxBind="Text Stock.TickValue" />
                                </LinearLayout>
                                <LinearLayout
                                    android:layout_width="0dp"
                                    android:layout_weight="1"
                                    android:layout_height="wrap_content"
                                    android:orientation="vertical">
                                    <TextView
                                        android:layout_width="match_parent"
                                        android:layout_height="match_parent"
                                        android:text="Date"
                                        android:textSize="@dimen/text_Size_M3"
                                        android:textColor="#000"
                                        android:textStyle="bold" />
                                    <TextView
                                        android:layout_width="match_parent"
                                        android:layout_height="match_parent"
                                        android:textSize="@dimen/text_Size_M3"
                                        local:MvxBind="Text Stock.Date" />
                                </LinearLayout>
                            </LinearLayout>
                            <LinearLayout
                                android:layout_width="match_parent"
                                android:layout_height="wrap_content"
                                android:layout_marginTop="@dimen/margin_Size_S1"
                                android:orientation="horizontal">
                                <LinearLayout
                                    android:layout_width="0dp"
                                    android:layout_weight="1"
                                    android:layout_height="wrap_content"
                                    android:orientation="vertical">
                                    <TextView
                                        android:layout_width="match_parent"
                                        android:layout_height="match_parent"
                                        android:text="Base Price"
                                        android:textSize="@dimen/text_Size_M3"
                                        android:textColor="#000"
                                        android:textStyle="bold" />
                                    <TextView
                                        android:layout_width="match_parent"
                                        android:layout_height="match_parent"
                                        android:textSize="@dimen/text_Size_M3"
                                        local:MvxBind="Text Stock.BasePrice" />
                                </LinearLayout>
                                <LinearLayout
                                    android:layout_width="0dp"
                                    android:layout_weight="1"
                                    android:layout_height="wrap_content"
                                    android:orientation="vertical">
                                    <TextView
                                        android:layout_width="match_parent"
                                        android:layout_height="match_parent"
                                        android:text="Ceiling Price"
                                        android:textSize="@dimen/text_Size_M3"
                                        android:textColor="#000"
                                        android:textStyle="bold" />
                                    <TextView
                                        android:layout_width="match_parent"
                                        android:layout_height="match_parent"
                                        android:textSize="@dimen/text_Size_M3"
                                        local:MvxBind="Text Stock.CeilingPrice" />
                                </LinearLayout>
                            </LinearLayout>
                        </LinearLayout>
                    </FrameLayout>
                </LinearLayout>
            </TabHost>
        </LinearLayout>
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:orientation="horizontal"
            android:gravity="center"
            android:layout_marginTop="@dimen/margin_Size_S1"
            android:layout_marginBottom="@dimen/margin_Size_S1"
            android:visibility="gone">
            <View
                android:layout_width="0dp"
                android:layout_weight="0.1"
                android:layout_height="0dp" />
            <Button
                android:layout_width="0dp"
                android:layout_weight="1.5"
                android:layout_height="match_parent"
                android:textSize="@dimen/text_Size_M3"
                android:text="Quotes" />
            <View
                android:layout_width="0dp"
                android:layout_weight="0.1"
                android:layout_height="0dp" />
            <Button
                android:layout_width="0dp"
                android:layout_weight="1.5"
                android:layout_height="match_parent"
                android:textSize="@dimen/text_Size_M3"
                android:text="Orders" />
            <View
                android:layout_width="0dp"
                android:layout_weight="0.1"
                android:layout_height="0dp" />
            <Button
                android:layout_width="0dp"
                android:layout_weight="1.5"
                android:layout_height="wrap_content"
                android:textSize="@dimen/text_Size_M3"
                android:text="Positions" />
            <View
                android:layout_width="0dp"
                android:layout_weight="0.1"
                android:layout_height="0dp" />
            <Button
                android:layout_width="0dp"
                android:layout_weight="1.5"
                android:layout_height="match_parent"
                android:textSize="@dimen/text_Size_M3"
                android:text="Account" />
            <View
                android:layout_width="0dp"
                android:layout_weight="0.1"
                android:layout_height="0dp" />
        </LinearLayout>
    </LinearLayout>
</LinearLayout>